<div class="input input-{{variant}}">
    {{#if label}}
        <label for="{{name}}">
            {{label}}
        </label>
    {{/if}}
    <input 
        name="{{name}}"
        type="{{type}}"
        value="{{value}}" 
        placeholder="{{placeholder}}" 
    />
</div>
